.contact-page {
    font-family: Arial, sans-serif;
}

.contact-section {
    text-align: center;
    padding: 50px;
}

.contact-section p {
    margin-left: 110px;
    text-align: left;
}

.contact-button {
    background-color: #add8e6;
    border: 1px solid black;
    padding: 10px 30px;
    cursor: pointer;
    width: auto;
    min-width: fit-content;
}

.contact-footer {
    text-align: left;
    padding: 20px;
    background-color: #f0f0f0;
    margin-top: 170px;
}