.register-container {
    width: 300px;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 14px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.register-layout {
    display: flex;
    min-height: 100vh;
    padding-left: 280px;
    /* Đảm bảo nội dung không bị che bởi sidebar */
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
}

input:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(255, 99, 71, 0.7);
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    transition: 0.3s;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #f8c4a6;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #f8c4a6;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.login-link a {
    font-weight: normal;
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login-link a:hover {
    text-decoration: underline;
}