/* Thêm vào file CSS của bạn hoặc trong <style> */
.my-masonry-grid {
    display: flex;
    margin-left: -15px;
    /* Gạch hàng cho gutter */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 15px;
    /* Gạch hàng cho gutter */
    background-clip: padding-box;
}